<head>
    <title>Mithun Diddi's Portfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
    {% seo %}
    <script src="https://www.google.com/recaptcha/api.js?render=6Lf8E5wkAAAAAIrXQVHksNNTkM7E1sEm_DnT9XN-"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6Lf8E5wkAAAAAIrXQVHksNNTkM7E1sEm_DnT9XN-', {action: 'submit'}).then(function (token) {
                console.info("got token: " + token);
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>
</head>