<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li><a href="../index.html">Home</a></li>
        <li><a href="/pages/research.html">Research</a></li>
        <!--
        <li><a href="/pages/course_work_projects.html">Course
            Work</a></li>
        -->
        <li><a href="#footer">Contact Me</a></li>
        <!--
        <li><a href="/resources/MithunDiddi_Resume.pdf"
               download>Resume
        </a></li>
        <li><a
                href="/resources/MithunDiddi_cv.pdf" download> CV
        </a></li>
        -->
    </ul>

    {% include social.html %}

</nav>