<ul class="icons">
    <li><a href="https://www.github.com/mithundiddi"
           target="_blank"
           class="icon brands fa-github">
        <span class="label">GitHub</span>
    </a></li>

    <li><a href="https://www.gitlab.com/mithundiddi"
           target="_blank"
           class="icon brands fa-gitlab">
        <span class="label">GitLab</span>
    </a></li>

    <li><a href="https://scholar.google.com/citations?user=GO9QvWoAAAAJ&hl=en"
           target="_blank"
           class="fab icon-scholar fa-lg">
        <span class="label">G Scholar</span>
    </a></li>

    <li><a href="https://www.linkedin.com/in/mithundiddi/"
           target="_blank"
           class="icon brands fa-linkedin">
        <span class="label">LinkedIn</span>
    </a></li>

    <li><a href="mailto:mail@mithundiddi.com"
           target="_blank"
           class="icon fa-envelope">
        <span class="label">E-Mail</span>
    </a></li>
</ul>