<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<!-- Wrapper -->
<div id="wrapper" class="fade-in">
    <!-- Header -->
    {% include home_header.html %}

    <!-- Intro -->
    <div id="intro">
        <h2 style="text-transform: none">"Blend of an Engineer,
            Explorer, and a Remote Pilot."</h2>
        <ul class="actions">
            <li><a href="#nav"
                   class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>

</div>

{% include nav.html %}

<body class="is-preload">

<div class="content">

    {{ content }}

</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">Go
    to Top</button>
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

<div>
    {% include footer.html %}
    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
    <!-- script
    src="https://gist.github.com/colevscode/ce67075b62f843b7e95b1d5a1370035b
    .js"></script -->
    <!--script src="../assets/js/returnbuttontop.js"></script-->
</div>

</body>

</html>
