<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<!-- Wrapper -->
<div id="wrapper" class="fade-in">
    <!-- Header -->
    {% include home_header.html %}

    <!-- Intro -->
    <div id="intro">
        <h2 style="text-transform: none">Like a
            nice Mocha Latte,</h2>
        <h2 style="text-transform: none">I'm a Blend of an Engineer,
            Explorer, and a Remote Pilot.</h2>
        <ul class="actions">
            <li><a href="#nav"
                   class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>

</div>

{% include nav.html %}

<body class="is-preload">

<div class="content">

    {{ content }}

</div>

<div>

    {% include footer.html %}
    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>

</div>

</body>

</html>
