<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<!-- Wrapper -->
<div id="wrapper" class="fade-in">
    <!-- Header -->
    {% include home_header.html %}

    <!-- Intro -->
    <div id="intro">
        <h2 style="text-transform: none">"Blend of an Engineer,
            Explorer, and a Remote Pilot."</h2>
        <ul class="actions">
            <li><a href="#nav"
                   class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>

</div>

{% include nav.html %}
{% include body.html %}
</html>
